<%- include("partials/head") %>
    <h1>Task added</h1>
    <p>Título: <%= newTask.title %></p>
    <p>Descripción <%= newTask.description %></p>
    <a href="/">Volver a Inicio</a>
<%- include("partials/footer") %>